.container {
    max-width: 50%;
    margin-top: 100px;
}

h1 {
    text-align: center;
}

li {
    border: 1px black solid;
    padding: 5px;
    list-style-type: none;
    border-radius: 5px;
    background-color: #d6ffc4;
}

#input-field {
    background-color: white;
}

ul {
    padding-left: 0;
    margin-bottom: 0px;
}

input {
    border: none;
    width: 100%;
}

.total-tasks {
    margin-top: 0px;
}

i {
    float: right;
}